body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  background: #faf8ef;
  color: #776e65;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.start {
  display: inline-block;
  background: #8f7a66;
  color: #f9f6f2;
  font-size: 1.5em;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.restart {
  display: inline-block;
  background: #8f7a66;
  color: #f9f6f2;
  font-size: 1.5em;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.directions {
  display: inline-block;
  background: #8f7a66;
  color: #f9f6f2;
  font-size: 1.5em;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.game {
  background: #bbada0;
  border-radius: 6px;
  margin: 0px;
  padding: 10px;
  text-align: center;
  width: 530px;
  height: 530px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.gameBlocks {
  border-radius: 6px;
  margin: 0px;
  text-align: center;
  width: 530px;
  height: 530px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.block {
  background: #cdc1b4;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

.score {
  font-size: larger;
}

.best {
  font-size: larger;
}





